header
{
    font-size:          5vw;
    font-family:        "Verdana";
    text-shadow:        -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color:              white;
    background-color:   #4d4d4d;
    border-width:       1px;
    border-style:       solid;
    border-color:       black;
    margin-left:        auto;
    margin-right:       auto;
    margin-bottom:      2%;
    padding:            10px;
    width:              6em;
}

canvas 
{
    padding:        0;
    margin:         auto;
    display:        block;
    top:            0;
    bottom:         0;
    left:           0;
    right:          0;
    border-width:   1px;
    border-style:   solid;
    border-color:   black;
}

body
{
    background-color: Gray;
}

article
{
    margin:             15px;
    padding:            5px;
    font-family:        "Verdana";
    text-shadow:        -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color:              white;
    background-color:   #4d4d4d;
    border-width:       1px;
    border-style:       solid;
    border-color:       black;
}

article h1
{
    text-align: center;
}

article h2
{
    text-align: center;
    size: 20;
}

article section
{
    display: block;
    overflow: auto;
    text-align: center;
    padding-bottom: 5px;
}

.left
{
    float: left;
}
.right
{
    float: right;
}
.bottom
{
    margin-top: 2%;
    clear: both;
}

.question section
{
    text-align: center;
    padding-bottom: 1%;
}

#quiz
{
    font-size: large;
}

.dice_pic
{
    float: left;
}
#dice_number
{
    margin-top:     25px;
    font-size:      x-large;
    float:          left;
}
.dice_button
{
    margin-top:     7px;
    float:          right;
}
#roll
{
    padding: 14px 8px;
}

.butt
{
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
    background-color:#ffffff;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    cursor:pointer;
    color:#000000;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
}
.butt:hover {
    background:linear-gradient(to bottom, #adadad 5%, #ffffff 100%);
    background-color:#f6f6f6;
}
.butt:active {
    position:relative;
    top:1px;
}
#type_description
{
    font-size: large;
    float: right;
}
#activation
{
    font-size: large;
    float: left;   
}
#name
{
    margin-left: 40px;
    font-size: large;
    float: left;
}
.player_config
{
    margin-top: 10%;
    padding: 5px;
}
.player_tag
{
    float: left;
}
.type_select
{
    float: right;
    margin-left: 50px;
}
#start
{
    margin-top: 25px;
}
#start_field
{
    clear: both;
}
.activation_button
{
    float: left;
}
.name_input
{
    margin-left:      20px;
    background-color: Gray;
    color:            White;
}

#color_indicator {
    display:            block;
    margin-top:         8px;
    margin-left:        auto;
    margin-right:       auto;
    width:              20px;
    height:             20px;
    background-color:   white;
    border:             1px solid #dddddd;
}

.red
{
    margin-left:        3px;
    margin-top:         12px;
    border-radius:      50%;
    float:              right;
    display:            block;
    width:              12px;
    height:             12px;
    border:             1px solid #ff3333;
}
.blue
{
    margin-left:        3px;
    margin-top:         12px;
    border-radius:      50%;
    float:              right;
    display:            block;
    width:              12px;
    height:             12px;
    border:             1px solid #3385ff;
}
.yellow
{
    margin-left:        3px;
    margin-top:         12px;
    border-radius:      50%;
    float:              right;
    display:            block;
    width:              12px;
    height:             12px;
    border:             1px solid #ffff66;
}
.green
{
    margin-left:        3px;
    margin-top:         12px;
    border-radius:      50%;
    float:              right;
    display:            block;
    width:              12px;
    height:             12px;
    border:             1px solid #4dff4d;
}
.score_name
{
    float: left;
    display: block;
    margin-top: 10px;
}