header
{
    font-size:          5vw;
    font-family:        "Verdana";
    text-shadow:        -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color:              white;
    background-color:   #4d4d4d;
    border-width:       1px;
    border-style:       solid;
    border-color:       black;
    margin-left:        auto;
    margin-right:       auto;
    margin-bottom:      2%;
    padding:            10px;
    width:              6em;
}

canvas 
{
    padding:        0;
    position:       absolute;
    margin:         auto;
    display:        block;
    top:            0;
    bottom:         0;
    left:           0;
    right:          0;
    border-width:   1px;
    border-style:   solid;
    border-color:   black;
}

body
{
    background-color: Gray;
}

article
{
    margin:             15px;
    padding:            5px;
    font-family:        "Verdana";
    text-shadow:        -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color:              white;
    background-color:   #4d4d4d;
    border-width:       1px;
    border-style:       solid;
    border-color:       black;
}

article h1
{
    text-align: center;
}

article h2
{
    margin: 0;
    text-align: center;
    size: 20;
}

article section
{
    display: block;
    overflow: auto;
    text-align: center;
    padding-bottom: 5px;
}

.left
{
    float: left;
}
.right
{
    float: right;
}
.bottom
{
    margin-top: 600px;
    text-align: center;
    clear:      both;
}

.question section
{
    text-align: center;
    padding-bottom: 0.1%;
}

#text_question
{
    font-size:      large;
    margin-top:     10px;
    margin-bottom:  10px;
}

.dice_pic
{
    float: left;
}
#dice_number
{
    margin-top:     25px;
    font-size:      x-large;
    float:          left;
}
.dice_button
{
    margin-top:     7px;
    float:          right;
}
#roll
{
    padding: 14px 8px;
}

.butt
{
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
    background-color:#ffffff;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    cursor:pointer;
    color:#000000;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
}
.butt:hover {
    background:linear-gradient(to bottom, #adadad 5%, #ffffff 100%);
    background-color:#f6f6f6;
}
.butt:active {
    position:relative;
    top:1px;
}
#type_description
{
    font-size: large;
    float: right;
}
#activation
{
    font-size: large;
    float: left;   
}
#name
{
    margin-left: 40px;
    font-size: large;
    float: left;
}
.player_config
{
    margin-top:     2%;
    padding:        7px;
    border:         1px solid #4d4d4d;
}
.player_tag
{
    float: left;
}
.type_select
{
    float: right;
    margin-left: 50px;
}
#start
{
    //margin-top: 25px;
}
#start_field
{
    float: right;
}
.activation_button
{
    float: left;
}
.name_input
{
    margin-left:      20px;
    background-color: Gray;
    color:            White;
}

#color_indicator {
    display:            block;
    margin-top:         8px;
    margin-left:        auto;
    margin-right:       auto;
    width:              20px;
    height:             20px;
    background-color:   white;
    border:             1px solid #dddddd;
}

.red
{
    margin-left:        3px;
    margin-top:         12px;
    border-radius:      50%;
    float:              right;
    display:            block;
    width:              12px;
    height:             12px;
    border:             1px solid #ff3333;
}
.blue
{
    margin-left:        3px;
    margin-top:         12px;
    border-radius:      50%;
    float:              right;
    display:            block;
    width:              12px;
    height:             12px;
    border:             1px solid #3385ff;
}
.yellow
{
    margin-left:        3px;
    margin-top:         12px;
    border-radius:      50%;
    float:              right;
    display:            block;
    width:              12px;
    height:             12px;
    border:             1px solid #ffff66;
}
.green
{
    margin-left:        3px;
    margin-top:         12px;
    border-radius:      50%;
    float:              right;
    display:            block;
    width:              12px;
    height:             12px;
    border:             1px solid #4dff4d;
}
.score_name
{
    float: left;
    display: block;
    margin-top: 10px;
}
.player_score{
    padding: 15px;
}

#category_picker
{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}
#category_radio_first
{
    display: inline-block;
    font-size:      large;
}
.category_radio
{
    display:        inline-block;
    margin-left:    3%;
    font-size:      large;
}
#radio_background1
{
    border-radius:      50%;
    width:              30px;
    height:             30px;

    margin-top:         7px;
    margin-left:        auto;
    margin-right:       auto;
    background-color:   #4dff4d;
    border:             1px solid #000000;
    position: relative;
}
#radio_background2
{
    border-radius:      50%;
    width:              30px;
    height:             30px;
    margin-top:         7px;
    margin-left:        auto;
    margin-right:       auto;
    background-color:   #3385ff;
    border:             1px solid #000000;
    position: relative;
}
#radio_background3
{
    border-radius:      50%;
    width:              30px;
    height:             30px;
    margin-top:         7px;
    margin-left:        auto;
    margin-right:       auto;
    background-color:   #ffff66;
    border:             1px solid #000000;
    position: relative;
}
#radio_background4
{
    border-radius:      50%;
    width:              30px;
    height:             30px;
    margin-top:         7px;
    margin-left:        auto;
    margin-right:       auto;
    background-color:   #ff3333;
    border:             1px solid #000000;
    position: relative;
}

#game_config_top
{
    margin-bottom: 14%;
}
#category1
{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#category2
{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#category3
{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#category4
{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#new_question_button
{
    float: left;
    padding: 50px 8px;
    margin-left: 5%;
}
#check_answer_button
{
    float: right;
    padding: 50px 8px;
    margin-right: 5%;
}

.answer_box
{
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
    background-color:#ffffff;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    cursor:pointer;
    color:#000000;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
    padding: 6px;
    margin-left: 20px;
}
.answers
{
    margin-top: 10px;
}
.qh_question_true
{
    font-size:          small;
    margin-bottom:      2px;
    padding:            4px;
    border:             1px solid #000000;
    background-color:   #22773e;
}
.qh_question_false
{
    font-size:          small;
    margin-bottom:      2px;
    padding:            4px;
    border:             1px solid #000000;
    background-color:   #c63939;
}
#q_history
{
    overflow-y:     scroll;
    max-width:      300px;
    max-height:     280px;
}

#doc_div
{
    float: left;
}
#spacer
{
    margin-top: 25px;
    clear: both;
}